/*------------------------------------*\
  #cart
\*------------------------------------*/
/*------------------------------------*\
  #order
\*------------------------------------*/
.order__wrap {
    display: flex;
    justify-content: space-between;
    @include rwd(767) {
        flex-direction: column;
    }
}





/*------------------------------------*\
  #sidebar
\*------------------------------------*/
.sidebar {
    margin-right: 20px;
    width: 220px;
    line-height: 32px;
    @include rwd(767) {
        margin-bottom: 20px;
        width: 100%;
    }

    &__title {
        margin-bottom: 16px;
        padding: 0px 8px;
        font-size: 20px;
    }

    &__items {
        border-bottom: 1px solid $t-color;
    }

    &__link {
        display: block;
        padding: 0px 8px;
        width: 100%;
        text-decoration: none;
        color: $t-color;

        &:hover {
            color: $t-highlight;
        }
    }

    &--selected {
        background: $t-color;
        color: white;
    }
}





/*------------------------------------*\
  #pick
\*------------------------------------*/
.pick {
    width: calc(100% - 20px);
    @include rwd(768) {
        width: 100%;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    @include rwd(768) {
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 50px;
    }
}

.searchbar {
    display: flex;
    width: calc(100% * 460/700);
    border: 2px solid $t-color;
    @include rwd(768) {
        margin-bottom: 15px;
        width: 100%;
    }

    &__textfield {
        margin: 0px 0px;
        padding: 5px 14px;
        height: 32px;
        line-height: 32px;
        background: transparent;
        border: 0px;

        &:focus {
            outline: none;
            background: white;
        }
    }

    &__btn {
        width: 36px;
        font-size: 19px;
        background: $t-color;
        border-radius: 0px;
    }
}

.order-action {
    display: flex;
    align-items: center;

    &__link {
        display: block;
        padding: 0px 12px;
        text-decoration: none;
        color: $t-color;

        &:hover {
            color: $t-highlight;
        }
    }
}

.pay {
    border-right: 1px solid $t-color;

    &__link {
        padding: 6px 12px;
    }
}

.cart {
    position: relative;
    font-size: 28px;

    &::after {
        content:"1";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 16px;
        height: 16px;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        color: white;
        background: $t-highlight;
        clip-path: circle(50% at 50% 50%);
    }

}

.merchandise__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include rwd(428) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.merchandise__items {
    position: relative;
    margin-bottom: 30px;
    width: calc((100% * 1/3) - (100% * 40/700));
    text-align: center;
    background: $bg-color;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    @include rwd(821) {
        width: calc(50% - 20px);
    }
    @include rwd(428) {
        width: 80%;
    }

    &:hover {
        box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.16);
    }
}


.merchandise__heart--empty,
.merchandise__heart--filled {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: calc(100% * 9/220);
    left: calc(100% * 9/220);
    font-size: 20px;
    color: white;
}

.merchandise__heart--filled {
    display: none;
}

.merchandise--popular {
    position: relative;
    overflow: hidden;

    &::after {
        content: "熱銷美食";
        display: block;
        position: absolute;
        top: 10px;
        right: -75px;
        z-index: 100;
        width: 200px;
        transform: rotate(-315deg);
        padding: 10px 0px;
        text-align: center;
        font-family: "Noto Sans TC", "Arial";
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        background: #00CC99;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.8);
    }
}


.merchandise__title {
    position: relative;
    margin: 11px 0px 30px 0px;
    font-size: 20px;

    &::after {
        content:"";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
        width: calc(100% * 91/220);
        line-height: 0px;
        border-bottom: 1px solid $t-color;
    }
}

.merchandise__subtitle {
    font-size: 12px;
}


.merchandise__price {
    margin: 20px 0px 13px 0px;
    font-size: 20px;
    font-family: "Roboto", "Arial";
    font-weight: light;
    word-wrap: break-word;
}

.merchandise__btn {
    margin: 10px;
    width: calc(100% - 20px);
    color: $t-highlight;
    border: 2px solid $t-highlight;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        color: white;
        background: $t-highlight;
    }
}




