/*------------------------------------*\
  #Global
\*------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "MicrosoftJhengHeiRegular", "Arial";
    color: $t-color;    
}

.max-wrap {
    margin: 0 auto;
    padding: 0px 42px;
    max-width: 1024px;
    @include rwd(360) {
        padding: 0px 24px;
    }
}

.logo {
    @include hide-text;
    font-family: "Noto Sans TC", "Arial";
    font-weight: bold;
    background-position: center center;
    background-repeat: no-repeat;

    &__link {
        display: block;
        text-decoration: none;
    }
}

.img-container {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: $bg-color;

    &__title {
        line-height: 32px;
        text-align: center;
        font-size: 20px;
    }
}

.block-list {
    display: flex;
    justify-content: space-between;
    @include rwd(600) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 18px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    @include rwd(600) {
        width: 100%;
        font-size: 16px;
    }

    &__request {
        display: block;
    }

    &__textfield {
        display: block;
        width: 100%;
        font-family: "PingFangTC-Light", "Arial";

        &:placeholder {
            font-size: 16px;
        }
    }

    &__option--radio {
        margin-right: 30px;
        margin-bottom: 12px;
    }

    &__btn {
        text-align: center;
        font-size: 14px;
        font-family: "PingFangTC-Regular", "Arial";
        color: white;
        border: 0px;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 5px $t-color;
        }
    }

}

.btn__link {
    display: block;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: "PingFangTC-Regular", "Arial";
    color: white;
    border: 0px;
    border-radius: 3px;
}


.btn--secondary {
    background: rgba(0,0,0,0.35);
}

.btn--primary {
    background: #F56C23;
}

.account-section__title {
    @include rwd(295) {
        font-size: 44px;
    }
}

.account-form {
    margin: 0 auto;
    padding: 15px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    border-top: 3px solid $t-highlight;

    &__title {
        margin-bottom: 16px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-family: "Noto Sans TC", "Arial";
        font-weight: black;
    }

    &__request {
        margin-bottom: 3px;
    }

    &__input-wrapper {
        position: relative;
    }

    &__textfield {
        margin-bottom: 15px;
        padding: 10px 34px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border-radius: 3px;
    }

    &__icon {
        position: absolute;
        top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
        left: 9px;
    }

    &__hint {
        display: block;
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 14px;
        color: $t-highlight;

        &:hover {
            text-decoration: underline;
        }
    }
}

.mb--hint-below {
    margin-bottom: 1px;
}