$sidebar-width: 280px;

//Mobile
.sidebar {
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    transition: margin-left 0.25s;

    .sidebar-link {
        color: $dark;
        display: block;
        text-decoration: none;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        &:hover {
            background-color: rgba($primary, 0.16);
        }
    }
    .sidebar-link.active {
        position: relative;
        color: $dark; //$primary !important;
        background-color: rgba($primary, 0.16);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 2px;
            height: 100%;
            width: 3px;
            background: $primary;
        }
    }
}

.main {
    width: 100%;
}


//Display sidebar
.sidebar-toggled {
    .sidebar {
        margin-left: 0;
        .main {
            margin-left: $sidebar-width;
        }
    }
}

//Desktop
@include media-breakpoint-up(lg) {
    .sidebar {
        margin-left: 0;
        width: $sidebar-width;
    }

    .main {
        width: calc(100vw - #{$sidebar-width});
        transition: margin-left 0.25s;
    }

    //Display sidebar
    .sidebar-toggled {
        .sidebar {
            margin-left: -$sidebar-width;
        }
        .main {
            width: 100%;
            margin-left: 0;
        }
    }
}
